<%= javascript_include_tag "angular/controller/customerController" %>

<div ng-controller="customerController">
  <h2> Add New Customer </h2>
  <input type="button" class="btn btn-info" data-toggle="collapse" value="New Customer" data-target="#addNewCustomer"></br></br>
  <form id="addNewCustomer" class="collapse">    
     Customer Name: <input type="text" id="customerName"/>
     <span id="add_customer_name_header" style="color: red;" hidden>Customer Name </span>
     <span id="add_customer_name_alert" style="color: red;"></span>
     </br></br>
     
     Customer Address: <input type="text" id="customerAddress"/>
     <span id="add_customer_address_header" style="color: red;" hidden>Customer Name </span>
     <span id="add_customer_address_alert" style="color: red;"></span>
     </br></br>

     Customer Phone: <input type="text" id="customerPhone"/>
     <span id="add_customer_phone_header" style="color: red;" hidden>Customer Phone </span>
     <span id="add_customer_phone_alert" style="color: red;"></span>
     </br></br>

     <input type="submit" class="btn btn-success" name="Submit" id="submitNewCustomer"></br></br>
  </form>

  <!-- Update -->

   <div id="reviseData" style="display: none">
    <h2> Edit Customer Data </h2>
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="control-label-left col-sm-2" for="text">Customer ID:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="reviseCustomerID" placeholder="Enter Customer ID" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label-left col-sm-2" for="text">Customer Name:</label>
        <div class="col-sm-6">          
          <input type="text" class="form-control" id="reviseCustomerName" placeholder="Enter Customer Name" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label-left col-sm-2" for="text">Customer Address:</label>
        <div class="col-sm-6">          
          <input type="text" class="form-control" id="reviseCustomerAddress" placeholder="Enter Customer Address">
          <span id="revise_customer_address_header" style="color: red;" hidden>Customer Address</span>
          <span id="revise_customer_address_alert" style="color: red;"></span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label-left col-sm-2" for="text">Phone:</label>
        <div class="col-sm-6">          
          <input type="text" class="form-control" id="reviseCustomerPhone" placeholder="Enter Phone">
          <span id="revise_customer_phone_header" style="color: red;" hidden>Customer Phone</span>
          <span id="revise_customer_phone_alert" style="color: red;"></span>
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-6">
          <button type="button" id="buttonReviseCustomer" class="btn btn-success" onclick="editCustomer()">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Search Everything Here" ng-model="searchCustomer">
    </div>      
  </div>
</form>

  <!-- table pertama -->  
   <div id="table-responsive-customer">
    <table summary="This table shows file inside database" class="table table-bordered table-hover">
      <caption class="text-center">{{title}}</caption>
      <thead>
        <tr>
          <th>
            <a ng-click="sortType = 'id'; sortReverse = !sortReverse">
              Customer ID <span ng-show="sortType == '' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </th>
          <th>
            <a ng-click="sortType = 'customer_name'; sortReverse = !sortReverse">
            Customer name
             <span ng-show="sortType == 'customer_name' && !sortReverse" class="fa fa-caret-down"></span>
             <span ng-show="sortType == 'customer_name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
            </th>
          <th>Customer address</th>
          <th>Customer phone</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody ng-repeat="c in customers | orderBy:sortType:sortReverse | filter:searchCustomer"> <!--kaya pake foreach ton -->
        <tr>
          <td class="CustomerID">{{c.id}}</td>
          <td class="CustomerName">{{c.customer_name}}
          <td class="CustomerAddress">{{c.customer_address}}</td>
          <td class="CustomerPhone">{{c.customer_phone}}</td>
          <td> <input type="button" value="Edit" class="btn btn-default editCustomer" onclick="showCustomerData(this)" > </td>          
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">Data retrieved from Back-end Ruby on Rails</td>
        </tr>
      </tfoot>
    </table>
  </div><!--end of .table-responsive-->

  <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete Data</h4>
        </div>
        <div class="modal-body">
          Are you Sure Want to Delete This Customer?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="deleteCustomer()">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
